<!-- If you want to see the page when running local, just do http://localhost:4000/EXAMPLEPAGE-->
<!-- EXAMPLE PAGES ON HOW-->
<!-- http://localhost:4000/robot-->
<!-- http://localhost:4000/API-->

<div id="nav-bar">
    <a href="https://f1nnc.github.io/Playground/"><button>Home</button></a>
    <a href="https://f1nnc.github.io/Playground/robot"><button>Robot</button></a>
    <a href="https://f1nnc.github.io/Playground/API"><button>API</button></a>
    <a href="https://f1nnc.github.io/Playground/profile"><button>Profile</button></a>
    <a href="https://f1nnc.github.io/Playground/About"><button>About</button></a>
</div>