<div style="text-align: center; padding: 15px;">
    <h1 style="text-align: center;">Levels</h1>
    <a href="https://f1nnc.github.io/Playground/robot" class="nav-robot">1</a>
    <a href="https://f1nnc.github.io/Playground/robot2" class="nav-robot">2</a>
    <a href="https://f1nnc.github.io/Playground/robot3" class="nav-robot">3</a>
    <a href="https://f1nnc.github.io/Playground/robot4" class="nav-robot">4</a>
    <a href="https://f1nnc.github.io/Playground/robot5" class="nav-robot">5</a>
</div>