---
---



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);


/* "row style" is flexible size and aligns pictures in center */

body {
  background: #303030;
  font-family: 'Open Sans';
  color: #F0EAD6;
}

.shadow {
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.6); /* create a regular shadow */
  backdrop-filter: blur(5px); /* apply a blur effect to the area behind the element */
}

.wrapper {
  margin: 0;
}

#nav-bar {
  display: flex;
  margin: 0;
  text-align: center;
  background: rgb(24, 24, 24);
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Ensures the nav bar is on top of other content */
}

#nav-bar button, button .robot, button .home, button .api, button .about, button .profile {
  align-items: right;
  border: 1px solid #F0EAD6;
  border: 5px;
  background: rgb(24, 24, 24);
  opacity: 0.6;
  length: 140px;
  padding: 30px;
  color: #F0EAD6;
  transition-duration: 0.4s;
}

#nav-bar .active {
  /* styles for the active button */
  align-items: right;
  border: 1px solid #F0EAD6;
  border: 5px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.6;
  length: 140px;
  padding: 30px;
  color: #F0EAD6;
  transition-duration: 0.4s;
}

#nav-bar button:hover {
  opacity: 1;
}

#nav-bar button a {
  color: #F0EAD6;
  text-decoration: none;
  transition-duration: 0.4s;
}

#nav-bar button a:hover {
  opacity: 1;
}

#title {
  padding: 15px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-size: 30px;
  background: rgba(0, 52, 89, 1);;
  color: #F0EAD6;
  border-radius: #F0EAD6;
    a {
      color: #F0EAD6;
      text-decoration:none
    }
}

#titlerobot {
  padding: 15px;
  text-align: center;
  text-shadow: 2px 2px #0000;
  border-radius: 15px;
  font-size: 30px;
  background: rgba(101, 134, 224, 1);
  color: #F0EAD6;
  border-radius: #F0EAD6;
    a {
      color: #F0EAD6;
      text-decoration:none
    }
}


.container {
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  display: flex;
}

#div1 {
  flex: 1;
  background-color: rgb(227, 11, 11);
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

#div2 {
  flex: 1;
  background-color: rgba(101, 105, 224, 0.9);
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

#div3 {
  flex: 1;
  background-color: rgb(227, 11, 11);
  text-align: center;
  margin-left: 20px;
}

#div4 {
  width: 350px;
  flex: 1;
  background-color: rgba(220, 224, 101, 0.9);
  text-align: center;
}

.ControlB {
  height: 75px;
  width: 75px;
  border: 0px;
  opacity: 0.9;
}
.ControlB:hover {
  opacity: 1;
}

.label-block {
  padding: 5px;
  border-radius: 3px;
  font-family: monospace;
  font-size: 16px;
  color: black;
}

.block-input {
  width: 15px;
}

.up-block {
  background-color: #da3030;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.down-block {
  background-color: #e139c0;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.left-block {
  background-color: #08dc72;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.right-block {
  background-color: #0852dc;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  text-align: left;
}

.loop-block {
  display: inline-block;
  background-color: #da8d30;
  padding-left: 5px;
  padding-bottom: 5px;
}

.nav-robot {
  text-align: center;
  padding: 10px;
  flex: 3;
  background-color: green;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  color: white;
}